<!--  &lt;!&ndash;  <h2>Загрузка при входе в область видимости (viewport)</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;  <div @defer (on viewport)>&ndash;&gt;-->
<!--  &lt;!&ndash;    <app-image-gallery></app-image-gallery>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  <h2>Загрузка при взаимодействии (interaction)</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;  <button @defer (on interaction)>&ndash;&gt;-->
<!--  &lt;!&ndash;    Показать дополнительный контент&ndash;&gt;-->
<!--  &lt;!&ndash;  </button>&ndash;&gt;-->
<!--  &lt;!&ndash;  <div>&ndash;&gt;-->
<!--  &lt;!&ndash;    <app-extra-content></app-extra-content>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  <h2>Загрузка при наведении (hover)</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;  <div @defer (on hover)>&ndash;&gt;-->
<!--  &lt;!&ndash;    <app-tooltip></app-tooltip>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  <h2>Немедленная загрузка (immediate)</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;  <div @defer (immediate)>&ndash;&gt;-->
<!--  &lt;!&ndash;    <app-notification></app-notification>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  <h2>Загрузка через таймер (timer)</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;  <div @defer (timer)>&ndash;&gt;-->
<!--  &lt;!&ndash;&lt;!&ndash;    <app-delayed-message></app-delayed-message>&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->


<!--<div class="demo-container">-->
<!--  <h1>Демонстрация триггеров defer</h1>-->

<!--  <h2>Загрузка при простое (idle)</h2>-->
<!--  @defer (on idle) {-->
<!--    <app-heavy-component></app-heavy-component>-->
<!--  } @placeholder {-->
<!--    <div>Calendar placeholder</div>-->
<!--  }-->

<!--  <h2>Загрузка при взаимодействии (interaction)</h2>-->
<!--  <app-busy></app-busy>-->
<!--</div>-->
<!-- labs-control-flow.component.html -->
<nav class="submenu">
  <ul>
    <li><a [routerLink]="'idle-demo'" routerLinkActive="active">idle demo</a></li>
    <li><a [routerLink]="'trigger-viewport'" routerLinkActive="active">Trigger Viewport</a></li>
    <li><a [routerLink]="'interaction-demo'" routerLinkActive="active">Interaction demo(hover, timer)</a></li>
    <!--    <li><a [routerLink]="'repeat-content'" routerLinkActive="active">Repeat Content</a></li>-->
    <!--    <li><a [routerLink]="'conditional-switch-block'" routerLinkActive="active">Conditional Switch-block</a></li>-->
    <!-- Добавьте другие дочерние пути при необходимости -->
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
