<div class="container-fluid">
  <div class="block">
    <app-user-profile></app-user-profile>
  </div>

  <div class="block">
    <app-computed-signals-demo></app-computed-signals-demo>
  </div>

  <div class="block">
    <app-writable-signals-demo></app-writable-signals-demo>
  </div>

  <div class="block">
    <app-effect-demo></app-effect-demo>
  </div>

  <div class="block">
    <app-equality-function-demo></app-equality-function-demo>
  </div>

  <div class="block">
    <app-untracked-demo></app-untracked-demo>
  </div>

</div>
