<nav>
    <ul>
        <li><a routerLink="/control-flow">Lab 1: Control Flow</a></li>
        <li><a routerLink="/labs-components">Lab 2: Components</a></li>
        <li><a routerLink="/labs-defer">Lab 3: Defer</a></li>
        <li><a routerLink="/di-demo">Lab 4: DI</a></li>
        <li><a routerLink="/labs-ngrx">Lab 5: NGRX</a></li>
        <li><a routerLink="/labs-signals">Lab 6: Signals</a></li>
        <li><a routerLink="/labs-animation">Lab 7: Animation</a></li>
        <li><a routerLink="/labs-ssr">Lab 9: SSR</a></li>
    </ul>
</nav>

<!-- место для рендеринга содержимого каждой лабораторной работы -->
<router-outlet></router-outlet>

